* text=auto
*.json text
*.asset text
*.settings text
path/to/largefile filter=lfs diff=lfs merge=lfs -text
C:/Users/namta/Bounce_Tales/Library filter=lfs diff=lfs merge=lfs -text
Library/*.dll filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
